{% extends 'base.html.twig' %}

{% block title %}Liste des Etablissements{% endblock %}

{% block body %}




    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom de l'établissement</th>
                <th scope="col">Type</th>
                <th scope="col">Public/Privé</th>
                <th scope="col">Adresse</th>
                <th scope="col">Code postal</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
        {% for data in listeEtablissements %}
        
            <tr>
                <td scope="row">{{ data.nom }}</th>
                <td>{{ data.type }}</td>
                <td>{{ data.statut }}</td>
                <td>{{ data.adresse }}</td>
                <td>{{ data.code }}</td>
                <td>{{ data.email }}</td>
            </tr>
        {% endfor %}
         
        </tbody>
    </table>

{% endblock %}
